

.navbar {
    background-color: #333;
    padding: 10px 20px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
   
}

.nav-links li {
    margin-right: 20px;
    float: right;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
   
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
    
}



